# Database Configuration
DB_HOST=example
DB_PORT=example
DB_USER=example
DB_PASSWORD=example
DB_NAME=example
DB_SSLMODE=example
DB_TIMEZONE=example

# Connection Pool Settings
DB_MAX_IDLE_CONNS=example
DB_MAX_OPEN_CONNS=example
DB_CONN_MAX_LIFETIME_HOURS=example
DB_CONN_MAX_IDLE_TIME_MINUTES=example

# Pgx Pool Settings
PGX_MAX_CONNS=example
PGX_MIN_CONNS=example